body {
    background-image: url("forest-background.jpeg");
}
form {
    display: flex;
    justify-content: center;
    height: 550px;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 350px;
    width: 450px;
    background: linear-gradient(to bottom right, rgb(47,100,104), rgb(211,231,231));
}

 legend {
    border: 1px solid black;
    margin-left: 25px;
    background: linear-gradient(to bottom right, rgb(47,100,104), rgb(211,231,231));
}

#firstName,
#lastName,
#email {
    display: block;
}

div br {
    display: none;
}


#role {
    display: block;
    margin-right: 8em;
}

label[for="role"] {
    margin-left: 1em;
}

#comments {
    display: block;

}

label[for="comments"] {
    margin-left: 0.5em;
    margin-top: 1em;

}

textarea {
    width: 220px;
    height: 50px;
    background-color: rgb(166,197,181);
 }



label[for="firstName"] {
    /* border: 5px solid green; */
    margin-left: 3em;
}


label[for="lastName"] {
    /* border: 5px solid green; */
    margin-left: 3em;
}

label[for="email"] {
    /* border: 5px solid green; */
    margin-left: 4em;
}

input[type="checkbox"] + label {
    font-size: x-small;
    height: 20px;
    width: 35px;
    display: inline-block;
    overflow: hidden;
}

input[type="radio"] + label {
    font-size: 15px;
}


 button {
    /* padding-left: 3em; */
    width: 7em;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(47,100,104), rgb(211,231,231));
 }


 #signup {
    padding-bottom: 50px;
 }

 p {
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 8px;
    font-size: small;
 }

 #date {
    position: absolute;
    top: 20.2em;
 }

label[for="date"] {
    position: absolute;
    top: 15.7em;
    margin-left: 3em;
}


input {
    background-color: rgb(166,197,181);
}

select {
    background-color: rgb(166,197,181);
}

label[for="javascript"] {
    visibility: hidden;
    position: relative;
}

label[for="javascript"]:after {
    visibility: visible;
    position: absolute;
    content: "JS";
    top: 0;
    left: 0;
}
